html, body {
  overscroll-behavior: none;
    margin: 0;
  }
#divCanvas{
  margin:0;
}
canvas {
    width: 100%;
    height: 60%;
    display: block;
  }

#buttons{
  position: relative;
  margin-top: -45px;
  visibility: hidden;
  width: 100%;
  border: 1px;
  text-align:center;
  padding-bottom: 1%;
}


#divCanvas{
  position:relative;

}
#infoObject{
  position:absolute; 
  left:45px;
  top:45px;
}


#loadScreen{
  position:absolute; 
  left:45%;
  top:45%;
}

#accordion{
  width: 17%;
  margin-top: 2%;
  max-height: 85%;
  height:85%;
  overflow-y: scroll;
  left:83%;
  position: absolute;
  display: inline-block;
  
}
.card-header{
  background-color: #dc3545 !important;
}
a {
  text-decoration: none;
}
a:link, a:visited {
  color: white;
}

img {
  width: 100%;
}
.collapse{
  text-align: center;
}

.btn-circle.btn-md {
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 25px !important;
  font-size: 25px;
  text-align: center;
}

.btn:focus{
    box-shadow: none!important;
    outline: 0;
}


.btn:active{
  background-color: #AD3664 !important;
  border-color: black !important;
  color: #000000 !important;
}
.card_header{
  background-color: 
}
