{% extends 'index.html' %}
{% load static %}


{% block scripts %}
<script type="text/javascript">
    var objects = {{ pieces| safe}};
</script>


<!---<script type="module" src="{% static 'javascript/clickElement.js' %}"></script>-->
<script type="module" src="{% static 'javascript/piezas.js' %}"></script>

{% endblock %}
{% block botonera %}

<input type="button" id="previous" value="Previous">
<input type="button" id="next" value="Next">
<input type="button" id="backHome" value="Back Home">
<input type="button" id="resetCamera" value="Reset Camera">
<input type="button" id="escaleObject" value="Escale">
<input type="button" id="download" value="Download">
<p id="infoObject"></p>
<div id="menu"></div>


{% endblock %}