{% extends 'index.html' %}
{% load static %}


{% block scripts %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript">
    var objects = {{ pieces| safe}};
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!---<script type="module" src="{% static 'javascript/clickElement.js' %}"></script>-->
<script type="module" src="{% static 'javascript/piezas.js' %}"></script>

{% endblock %}
{% block botonera %}
<p id="infoObject"></p>
<div id="loadScreen">
    <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <p id="loadPercentage">0%</p>
</div>
<div id="buttons">


    
    <input type="button" title="Previous object" id="previous" class="btn btn-danger btn-circle btn-md" value="&lt;">
    <button title="Return to view of all objects " class="btn btn-danger btn-circle btn-md" id="backHome" ><span class="material-icons">home</span></button>
    <button id="resetCamera" title="Reset camera to init" class="btn btn-danger btn-circle btn-md"><span class="material-icons">flip_camera_ios</span></button>
    <button title="Escale object" id="escaleObject" class="btn btn-danger btn-circle btn-md" ><span class="material-icons">aspect_ratio</span></button>
    <button id="download" title="Download all stl files" class="btn btn-danger btn-circle btn-md"><span class="material-icons">file_download</span></button>
    <input type="button" title="Next object" id="next" class="btn btn-danger btn-circle btn-md" value="&gt;">
</div>


<div id="accordion"></div>


    <!--<div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Collapsible Group Item #1
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">

          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          Collapsible Group Item #2
        </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
            Collapsible Group Item #3
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
    </div>-->
  


{% endblock %}